@media (min-width: 992px) {
  .top-navbar {
    background-color: #3b4c5b;
  }
}
@media (min-width: 992px) {
  .top-navbar {
    background-color: #3b4c5b;
    height: 35px;
    font-size: 80%;
  }
  .top-navbar .navbar-toggler-icon {
    background-color: #3b4c5b;
  }
  .top-navbar .navbar-nav li .dropdown-toggle {
    color: white;
  }
  .top-navbar .navbar-nav li .dropdown-toggle .language-label {
    padding-left: 10px;
  }
  .top-navbar .right-navigation li a {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid white;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
  }
  .top-navbar .right-navigation li a:hover {
    color: #c7c7c7;
    text-decoration: none;
  }
  .top-navbar .right-navigation li a.last-right-navigation {
    border-right: none;
    padding-right: 0px;
  }
}
#main_section {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#main_section h3 {
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
#main_section .main-search {
  padding-top: 20px;
  padding-bottom: 35px;
}
#main_section .main-search .input-search-group {
  width: 100%;
}
#main_section .main-search .input-search-group input {
  border-right: 0px;
  height: 45px;
  border-radius: 0px;
}
#main_section .main-search .input-search-group .search-icon {
  width: 1%;
  border-left: 0px;
  background-color: white;
  border-radius: 0px;
}
#main_section .main-menu {
  background-color: #ececec;
  border-bottom: 5px solid black;
  border-radius: 0px;
}
#main_section .main-menu .navbar-collapse {
  padding-left: 0px;
}
#main_section .main-menu .navbar-nav li a {
  padding-left: 0px;
  padding-right: 30px;
}
#main_section .main-shopping-cart .rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
#main_section .main-shopping-cart .rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#main_section .main-shopping-cart .rwd-table th {
  display: none;
}
#main_section .main-shopping-cart .rwd-table td {
  display: block;
}
#main_section .main-shopping-cart .rwd-table td:first-child {
  padding-top: .5em;
}
#main_section .main-shopping-cart .rwd-table td:last-child {
  padding-bottom: .5em;
}
#main_section .main-shopping-cart .rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  #main_section .main-shopping-cart .rwd-table td:before {
    display: none;
  }
}
#main_section .main-shopping-cart .rwd-table th, #main_section .main-shopping-cart .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  #main_section .main-shopping-cart .rwd-table th, #main_section .main-shopping-cart .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  #main_section .main-shopping-cart .rwd-table th:first-child, #main_section .main-shopping-cart .rwd-table td:first-child {
    padding-left: 0;
  }
  #main_section .main-shopping-cart .rwd-table th:last-child, #main_section .main-shopping-cart .rwd-table td:last-child {
    padding-right: 0;
  }
}
#main_section .main-shopping-cart .rwd-table {
  overflow: hidden;
  width: 100%;
}
#main_section .main-shopping-cart .rwd-table tbody {
  border: 1px solid #ddd;
}
#main_section .main-shopping-cart .rwd-table .article-icon img {
  width: 100px;
}
#main_section .main-shopping-cart .rwd-table tr.update-cart-row td:last-child {
  float: right;
}
#main_section .main-shopping-cart .rwd-table tr .show-options {
  border: 1px solid black;
  border-radius: 0px;
  margin-top: 45px;
}
#main_section .main-shopping-cart .rwd-table th, #main_section .main-shopping-cart .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  #main_section .main-shopping-cart .rwd-table th, #main_section .main-shopping-cart .rwd-table td {
    padding: 0.5em !important;
  }
}
#main_section .main-shopping-cart .rwd-table th, #main_section .main-shopping-cart .rwd-table td:before {
  color: black;
}
#main_section .main-shopping-cart .rwd-table tr:nth-child(1) th {
  text-transform: uppercase;
}
#main_section .main-shopping-cart .btn-black {
  color: white;
  background: black;
  border-radius: 0px;
  padding: 12px;
}
#main_section .main-propositions .owl-carousel .owl-item {
  text-align: center;
}
#main_section .main-propositions .owl-carousel .owl-item .item {
  width: 80%;
}

footer {
  background-color: #272f38;
  color: #808080;
  padding-top: 50px;
}
footer a {
  color: #808080;
}
footer a .caret-right {
  margin-right: 10px;
}
footer .footer-first {
  padding-left: 35px;
}
footer .footer-first .newsletter-signup input {
  max-width: 300px;
  width: 100%;
  border: 1px solid #808080;
  background: #282f39;
  color: white;
  padding: 10px 40px 10px 10px;
  background-image: url("/ressources/message.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 10px;
}
footer .footer-last {
  background-color: #191e25;
  height: 50px;
  padding: 15px 10px 0 10px;
  color: white;
}
footer .footer-last a {
  color: white;
}
